<?xml version="1.0" encoding="UTF-8"?>

<!-- 이 문서는 iBatis에서 처리할 SQL문을 작성하는 문서입니다. -->

<!DOCTYPE sqlMap
	PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN"
	"http://ibatis.apache.org/dtd/sql-map-2.dtd">

<sqlMap namespace="withme">

	<select id="getWmCode" parameterClass="string" resultClass="wmVO">
		select a.*, b.join_grade from withme a, join_withme b 
		 where b.p_name=#pName#
    	   and b.withme_code = a.withme_code
    	 order by a.withme_code
	</select>

	<select id="getWmFriends" parameterClass="string" resultClass="profile">
		select a.*
		  from profile a, join_withme b
		 where b.withme_code = to_number(#room#)
		   and b.p_name = a.p_name
	</select>	
	
	<!-- 채팅 쿼리 -->
	<insert id="insertChat" parameterClass="chatVO">
		insert into chat values(chat_seq.nextval, #chat_content#, #chat_name#, sysdate, #withme_code#)
	</insert>
	
	<select id="getChatList" parameterClass="chatVO" resultClass="chatVO">
		 select a.chat_content, a.chat_name, TO_CHAR(A.chat_date, 'PM HH12:MI') as chat_date, a.withme_code
		   from (select *
		           from chat
		          where chat_date > (select join_date from join_withme where p_name=#chat_name# and withme_code=#withme_code#)
		          order by chat_date) a
		  where withme_code = #withme_code#
	</select>
	<!--  -->
	
	<select id="getWmGrade" parameterClass="map" resultClass="string">
		select join_grade from join_withme where p_name=#pName# and withme_code=to_number(#room#)
	</select>
	
	
	
	
	<!-- 가계부 쿼리 -->
	<select id="getAccList" parameterClass="string" resultClass="AccVO">
		select * from account where withme_code = to_number(#room#) order by acc_no
	</select>
	
	<insert id="insertAcc" parameterClass="AccVO">
		insert into account (acc_no, acc_content, acc_date, acc_withdraw, withme_code)
			values(account_seq.nextval, #acc_content#, #acc_date#, #acc_withdraw#, #withme_code#)
	</insert>
	
	<delete id="deleteAcc" parameterClass="int">
		delete from account where acc_no = #no#
	</delete>
	
	<update id="updateAcc" parameterClass="AccVO">
		update account set acc_content=#acc_content#, acc_date=to_date(#acc_date#), acc_withdraw=#acc_withdraw# 
			where acc_no=#acc_no#
	</update>
	
	
	
	<!-- 투표 쿼리 -->
	<insert id="insertVote" parameterClass="voteVO">
		<selectKey keyProperty="vote_no" resultClass="int">
			select vote_seq.nextval as vote_no from dual
		</selectKey>
		
		insert into vote (vote_no, vote_title, vote_sdate, vote_edate, withme_code)
		 values(#vote_no#, #vote_title#, sysdate, #vote_edate#, #withme_code#)
	</insert>
	
	<insert id="insertVoteItem" parameterClass="vItemVO">
		insert into vote_item (vi_no, vi_content, vote_no)
			values(vote_item_seq.nextval, #vi_content#, #vote_no#)
	</insert>
	
	<!-- 투표 리스트 전체 가져오기 -->
	<resultMap class="vUserVO" id="vUserVO">
		<result property="vu_no" column="VU_NO" nullValue="-999999" />
		<result property="vu_id" column="VU_ID" nullValue="-999999" />
		<result property="vi_no" column="VI_NO" nullValue="-999999" />
	</resultMap>
	
	<resultMap id="viListVO" class="vItemVO" groupBy="vi_no">
		<result property="vi_no" column="VI_NO"/>
		<result property="vi_content" column="VI_CONTENT"/>
		<result property="vote_no" column="VOTE_NO"/>
		
		<result property="vuList" resultMap="withme.vUserVO"/>
	</resultMap>
	
	<resultMap  id="voteListVO" class="voteVO" groupBy="vote_no">
		<result property="vote_no" column="VOTE_NO"/>
		<result property="vote_title" column="VOTE_TITLE"/>
		<result property="vote_sdate" column="VOTE_SDATE"/>
		<result property="vote_edate" column="VOTE_EDATE"/>
		<result property="withme_code" column="WITHME_CODE"/>
		
		<result property="viList" resultMap="withme.viListVO"/>
	</resultMap>
	
	<statement id="getVoteList" parameterClass="int" resultMap="voteListVO">
			select a.*, b.*, c.* 
			 from vote a, vote_item b, vote_user c
			where a.withme_code = #room#
			  and b.vote_no = a.vote_no
			  and b.vi_no = c.vi_no(+)
			order by a.vote_no desc, b.vi_no
	</statement>
	
	<statement id="getVoteItem" parameterClass="int" resultMap="viListVO">
		select * from vote_item where vote_no = #VOTE_NO#
	</statement>
	
	<statement id="getVoteuser" parameterClass="int" resultClass="vUserVO">
		select * from vote_user where vi_no = #VI_NO#
	</statement>
	
	<select id="checkVoteUser" parameterClass="map" resultClass="int">
		select count(*)
		from vote a, vote_item b, vote_user c
		where a.vote_no = to_number(#vo_no#)
		  and b.vote_no = a.vote_no
		  and b.vi_no = c.vi_no(+)
		  and c.vu_id = #pName#
	</select>
	
	<delete id="deleteVoteUser" parameterClass="map">
        delete from vote_user c
 		 where exists (select 1
                 		 from vote a, vote_item b
               			where a.vote_no = to_number(#vo_no#)
                  		  and b.vote_no = a.vote_no
                 		  and c.vi_no = b.vi_no
                		  and c.vu_id = #pName#)
	</delete>
	
	<insert id="insertVoteUser" parameterClass="map">
		insert into vote_user (vu_no, vu_id, vi_no)
			values (vote_user_seq.nextval, #pName#, #vi_no#)
	</insert>
	
	<delete id="deleteVote" parameterClass="int">
		delete from vote where vote_no = #vo_no#
	</delete>
	
	<update id="updateVote" parameterClass="voteVO">
		update vote set vote_title = #vote_title# 
			where vote_no = #vote_no#
	</update>
</sqlMap>